<tr class="<%= "unread" unless message.flags.first.read %>">
      <td class="check">
        <input type="checkbox" name="selector[]" value="" id="selector[]">
      </td>
      <td class="heart  <%= "red" if message.flags.first.heart %>">
        <div class="heart-box">
        <%= link_to '&hearts;'.html_safe, message_heart_url(message), method: :put %>
        </div>
      </td>

      <% if message.sent_by?(current_user.id) %>
        <td class="from"><%= message.sender %></td>
      <% else %>
        <td class="to">TO: <%= message.display_recipient_emails %></td>
      <% end %>


      <td class="preview">
       <a href="<%= message_url(message)%>">
         <%= render partial: 'message_preview', locals: { message: message }%>
        </a>
      </td>
      <td class="time-tag">
        <%= time_tag(message.created_at, format: message.created_at.today? ?  '%l:%M %p' : '%b %d') %>
      </td>

    </tr>


