<ul>

  <% inbox_count = @messages.count( %>
    <% conditions: "flags.read = false AND messages.sender_id != #{current_user.id}", %>
    <% include: :flags %>
  <% )  %>
  <li><%= link_to "Inbox (#{inbox_count})", inbox_messages_url%></li>
  <li><%= link_to "Impotant", favorite_messages_url%></li>
  <li><%= link_to "Sent", sent_messages_url%></li>
  <li><%= link_to "Draft", draft_messages_url%></li>
  <li><%= link_to "Trash", trash_messages_url%></li>
</ul>