<section  id="menu">
  <%= render :partial => 'option_buttons' %>
</section>

<section id="main" class="group">


  <section class="group" id="sidebar">
    <%= render :partial => 'sidebar' %>
    <br>
    <h2>AbeChat</h2>
    <ul id="contacts">
      <% @users.each do |user| %>
      <li><%= user.name %></li>
      <% end %>
    </ul>
  </section>

  <section id="mailbox">

  <%# render partial: 'email_box' %>

  </section>
</section>

<section id="new-email" class="invisible drag-me">
<%= render partial: "new_email" %>
</section>

<section id="chat" class="invisible drag-me">
  <%= render :partial => 'chat' %>
</section>


<input type="hidden" id="user_id" value="<%= current_user.id %>">

<script type="application/javascript" charset="utf-8" id="bootstrap-inbox">
  <%= render(file: 'messages/inbox.rabl', object: @messages, formats: :rabl).html_safe %>
</script>



<script src="http://js.pusher.com/2.1/pusher.min.js"></script>
<%= javascript_include_tag("abeChat") %>


