<section  id="menu">
  <%= render :partial => 'option_buttons' %>
</section>

<section id="main" class="group">


  <section class="group" id="sidebar">
    <%= render :partial => 'sidebar' %>
    <br>
    <h2>AbeChat</h2>
    <ul id="contacts">
      <% @users.each do |user| %>
      <li><%= user.name %></li>
      <% end %>
    </ul>
  </section>

  <section id="mailbox">

  <%# render partial: 'email_box' %>

  </section>
</section>

<section id="new-email" class="invisible drag-me">
<%= render partial: "new_email" %>
</section>

<section id="chat" class="invisible drag-me">
  <h2>Chat with: </h2>
  <ul id="chat-log">

  </ul>
  <form class="new-chat" action="<%= chats_url %>" method="post" data-remote="true">
    <p><input type="text" name="chat_text" id="chat-text" autocomplete="off"></p>
    <input type="hidden" name="chat_to" value="" id="chat_to">
    <input type="submit" value="Chat &rarr;">
  </form>

</section>


<input type="hidden" id="user_id" value="<%= current_user.id %>">

<script type="application/javascript" charset="utf-8" id="bootstrap-inbox">
  <%= render(file: 'messages/inbox.rabl', object: @messages, formats: :rabl).html_safe %>
</script>



<script src="http://js.pusher.com/2.1/pusher.min.js"></script>

<script>

$(document).ready(function(){

  $("form.new-chat").on("ajax:success", function(event){
      this.reset();
      $('#chat').removeClass('invisible');

      console.log("ajax success being called")

      if ($('#contacts').hasClass('invisible') === false){
        $('#contacts').addClass('invisible');
      }

    });

    var pusher = new Pusher('<%= ENV["PUSHER_KEY"] %>');

    var currentUser = $('#current-username')[0].innerText.replace(' ', '-');


    //send outgoing chat
    $('#contacts').on("click", "li", function (event) {
      var outgoingName = $(event.currentTarget)[0].innerText.replace(' ', '-');


      console.log("contact click call back being called")
      if ($('#contacts').hasClass('invisible') === false){
        $('#contacts').addClass('invisible');
      }

      $('#contacts').off(); // turn off chat for now

      var namesArr = [outgoingName, currentUser];
      var namesJoined = namesArr.sort().join(';');



      $('#chat_to')[0].value = outgoingName;
      $('#chat').removeClass('invisible');

      //subscribe to your new chat
      var outchannel = pusher.subscribe(outgoingName);
      outchannel.bind('new_chat_message', function(data) {



        $("#chat-log").append(data);
        $("#chat-log").animate({ scrollTop: $('#chat-log').height() }, "slow");

        var $newewstChat =  $('#chat-log li:last-child')
        if ($newewstChat.hasClass(currentUser)){
          $newewstChat.removeClass(currentUser);
          $newewstChat.addClass('me');
        } else {
          $newewstChat.removeClass();
          $newewstChat.addClass('them')
        }
      });

    });


    //listen for incoming messages
    var mychannel = pusher.subscribe(currentUser);
    mychannel.bind('new_chat_message', function(data) {
      $('#chat_to')[0].value = currentUser;

      console.log("user subscribing to own channel")
      $('#chat').removeClass('invisible');

//       if (data.indexOf(me) === 4){
//         prefixed = data.replace(me, "me");
//       }
      if ($('#contacts').hasClass('invisible') === false){
        $('#contacts').addClass('invisible');
      }

      $("#chat-log").append(data);

      $("#chat-log").animate({ scrollTop: $('#chat-log').height() }, "slow");

      var $newewstChat =  $('#chat-log li:last-child')
      if ($newewstChat.hasClass(currentUser)){
        $newewstChat.removeClass(currentUser);
        $newewstChat.addClass('me');
      } else {
        $newewstChat.removeClass();
        $newewstChat.addClass('them')
      }


    });
});

</script>