<section  id="menu">
  <%= render :partial => 'option_buttons' %>
</section>

<section id="main" class="group">


  <section class="group" id="sidebar">
    <%= render :partial => 'sidebar' %>
  </section>

  <section id="mailbox">

  <%# render partial: 'email_box' %>

  </section>
</section>

<section id="new-email" class="invisible">
<%= render partial: "new_email" %>
</section>


<input type="hidden" id="user_id" value="<%= current_user.id %>">

<script type="application/javascript" charset="utf-8" id="bootstrap-inbox">
  <%= render(file: 'messages/inbox.rabl', object: @messages, formats: :rabl).html_safe %>
</script>

<%= javascript_include_tag "autocomplete-rails.js" %>
