<tr class="<%= "unread" unless message.message_flags.first.read %>">
      <td class="check">
        <input type="checkbox" name="selector[]" value="" id="selector[]">
      </td>
      <td class="heart" style=color:<%= message.message_flags.first.starred ? "red" : "black"%>>
        &hearts;
      </td>
      <% if sent %>
        <td class="to">TO: <%= message.display_recipient_emails %></td>
      <% else %>
        <td class="from"><%= message.sender %></td>
      <% end %>


      <td class="preview">
       <a href="<%= message_url(message)%>">
         <%= render partial: 'message_preview', locals: { message: message }%>
        </a>
      </td>
      <td class="time-tag">
        <%= time_tag(message.created_at, format: message.created_at.today? ?  '%l:%M %p' : '%b %d') %>
      </td>

    </tr>