<tr class="<%= "unread" unless message.message_flags.first.read %>">
      <td class="check">
        <input type="checkbox" name="selector[]" value="" id="selector[]">
      </td>
      <td class="heart">
        <%= '&hearts;'.html_safe if message.message_flags.first.starred %>
      </td>
      <% if sent %>
        <td class="to">TO: <%= message.display_recipient_emails %></td>
      <% else %>
        <td class="from"><%= message.sender %></td>
      <% end %>
      <td class="preview">
        <%= render partial: 'message_preview', locals: { message: message }%>
      </td>
      <td class="time-tag">
        <%= time_tag(message.created_at, format: message.created_at.today? ?  '%l:%M %p' : '%b %d') %>
      </td>
    </tr>