<section id="main" class="group">


  <section  id="menu">
    <%= render :partial => 'option_buttons' %>
  </section>

  <section class="group" id="sidebar">
    <ul>
      <li><%= link_to "Inbox", "#"%></li>
      <li><%= link_to "Impotant", "#"%></li>
      <li><%= link_to "Sent", "#"%></li>
      <li><%= link_to "Draft", "#"%></li>
      <li><%= link_to "Trash", "#"%></li>
    </ul>
  </section>

  <section id="mailbox">
  <%= render :partial => 'inbox' %>


  <%= render :partial => 'sent_box' %>
  </section>
</section>

<section id="compose">
<%# render partial: "new_email" %>
</section>
